@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #263B4A;
    --2main-color: #ffffff;
    --3main-color: #F93100;
    --4main-color: #7C838A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

header {
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

main {
    flex: 1;
    padding: 0 10px;
    /*background-color: #e9ecef;*/
    margin-left: 15%;
    margin-right: 5%;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 100px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding-top: 50px;
    min-height: 100vh;
}

.content-container-with-cards-column {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.content-container-with-cards-column-alt {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.main-container-with-column{
    width: 100%;
    max-height: 500px;
  }

  .main-container-with-column-cal{
    width: 100%;
    max-height: 500px;
    min-width: 1025px;
  }

  .main-container-with-column-alt{
    width: 100%;
    max-height: 500px;
    min-width: 655px;
    order:1 ;
  }


.footer-bottom {
    background-color: #92929283;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

footer {
    padding: 0;
    text-align: center;
    color: var(--3main-color);
    width: 100%;
}

.footer-bottom p {
    font-size: 15px;
    margin-bottom: 0;
}

.profile .user {
    color: #000000;
    font-size: 50px;
}

.profile .title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.profile .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, var(--main-color), var(--2main-color));
    ;
}

.profile .error-mgs {
    color: red;
}

.profile .valid-mgs {
    color: green;
    font-size: 25px;
}


/*************************************************************
    Début pour : header-container
    Fonction : Gère le style de la partie header du body
    *************************************************************/
.header-container h1 {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    color:#2e353b;
}

.header-container h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, var(--main-color), var(--2main-color));
    ;
}

.header-container .title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

/* Gère la taille + couleur de l'icone dans le header */
.header-container .header-icon {
    color: #000000;
    font-size: 50px;
}

/*******************************************
    Fin pour header-container
    *******************************************/

.submit-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.custom-btn {
    background-color: #a0a5aa; 
    color: #fff; 
    padding: 10px 20px; 
    margin-left:15px;
    border: none; 
    font-size: 1em;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    text-decoration: none;
  }
  
  /* Style pour les boutons lorsqu'ils sont survolés */
  .custom-btn:hover {
    background-color: var(--3main-color); /* Changement de couleur de fond plus foncée lors du survol */
  }
  
  /* Style pour les boutons lorsqu'ils sont cliqués */
  .custom-btn:active {
    background-color: var(--main-color); /* Changement de couleur de fond plus foncée lors du clic */
  }


  .custom-button {
    background-color: #a0a5aa; 
    color: #fff; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    text-decoration: none;
}

/* Style pour les boutons lorsqu'ils sont survolés */
.custom-button:hover {
    background-color: var(--3main-color); /* Changement de couleur de fond plus foncée lors du survol */
}

/* Style pour les boutons lorsqu'ils sont cliqués */
.custom-button:active {
    background-color: var(--main-color); /* Changement de couleur de fond plus foncée lors du clic */
}

.form-logo{
    max-width: 300px;
    max-height: 150px;
}

.form-duo-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-start; 
    margin-top:10px;
    margin-bottom:10px;
}

.form-duo-container-left-small{
    width: 20%;
    top: 0;
}

.form-duo-container-right-big{
    width: 75%;
    top: 0;
}

.form-duo-container-same{
    width: 47%;
}

.back-icon-container{
    margin-top: 30px;
}

.bottom-btn{
    margin-top:20px;
    display:flex;
    flex-direction: row;
    justify-content:center;
  }

  .body-container{
    display: flex;
    justify-content: center;
    width: 100%;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
  }

  .reset-password-form {
    width: 80%;
  }

  @media (max-width: 1628px) {
    .content-container-with-cards-column {
        flex-direction: column; 
    }

    .main-container-with-column-cal {
        margin-bottom: 20px; 
        order: 2;
    }

    .cards-container-column {
        max-width: 100%; 
        order: 1;
    }
}

@media (max-width: 1200px) {
    .content-container-with-cards-column-alt {
        flex-direction: column; 
    }

    .main-container-with-column-alt {
        margin-bottom: 20px; 
        order: 2;
    }

    .cards-container-column-alt {
        max-width: 100%; 
        order: 2;
    }
}

.btn-lgx {
    background-color: #f93100 !important;
    border-color: #f93100 !important;     
    color: white !important;                  
}