@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
    --bg-main: #fff;
    --color-primary: #273B4A;
    --color-secondary: #F93100;
    --text-primary: #1f2937;
    --text-secondary: #6b7280;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/*
.main-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-main);
    padding: 12px 16px;
}*/

.item-name{
    display: flex;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    padding-left:15%;
    padding-right:15%;
}

.link-item {
    display: flex;
    height: 128px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--color-primary);
    border: 4px solid var(--color-secondary);
    color: white;
    text-decoration: none;
    padding: 16px;
}

.link-item span {
    color: var(--color-secondary);
}

.link-item:hover {
    opacity: 0.8;
}

.folder-icon, .chevron-right-icon {
    height: 24px;
    width: 24px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stacks links vertically on smaller screens */
    }

    .title-container h1 {
        font-size: 1.5rem; /* Smaller font size for smaller screens */
    }

    .link-item {
        padding: 12px; /* Smaller padding for a more compact look */
        height: auto; /* Makes height adaptable to content */
    }
}

@media (max-width: 480px) {
    .content-container {
        padding: 10px; /* Reduces padding for very small screens */
    }

    .title-container h1 {
        font-size: 1.25rem; /* Even smaller font size for very small screens */
    }

    .link-item {
        font-size: 0.875rem; /* Smaller text size for readability on small devices */
    }
}
