@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#263B4A;
    --2main-color:#ffffff;
    --3main-color:#F93100;
    --4main-color:#7C838A;
}

*{
font-family: 'Roboto', sans-serif;
margin: 0;padding: 0;
box-sizing: border-box;
outline: none;border: none;
text-decoration: none;
transition: all .2s linear;
line-height: 1.5;
}
body {
  background: url("../../assets/image/5.jpg"), #2a4b5aa1 ;
 /*background-position: center;*/
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  position: fixed;
  width: 40%;
  margin: 7% 30%;
  border-radius: 32px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  background: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 155px; 
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  position: relative;
  margin: 15px 0;
}

.input-field label {
  color: gray;
  font-size: 14px;
  font-weight: 500;
}


.input-field input {
  width: 100%;
  height: 40px;
  background: #b7bfc796;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
  color:--4main-color;
  padding: 0 15px;
}

.input-field input::placeholder {
  text-align: center;
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 10px 25px 20px;
  color: #fff;
}

#remember {
  accent-color: var(--main-color);
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  color: #444343;
  margin-left: 8px;
  font-size: 14px;
}

.wrapper a {
  color: #9e9d9d;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
  font-size: medium;
  letter-spacing: 2px;
}

.button {
  width: 40%;
  height: 40px;
  background: var(--main-color);
  color: #ffffff;
  font-weight: 400;
  border: none;
  padding: 4px 20px;
  cursor: pointer;
  border-radius: 32px;
  font-size: 20px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.button-base {
  height: 40px;
  background: var(--main-color);
  color: #ffffff;
  font-weight: 400;
  border: none;
  padding: 4px 20px;
  cursor: pointer;
  border-radius: 32px;
  font-size: 14px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  margin-right: 20px;
}



.button:hover {
  color: #fff;
  background:var(--3main-color);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
}

.toast-with-progress {
  height: 60px;
}

.progress-bar {
  position: absolute;
  bottom: 0; 
  left: 0;
  height: 4px; 
  background-color: white; 
  animation: progress 3s linear forwards; 
}

@keyframes progress {
  from {
    width: 100%; 
  }
  to {
    width: 0%; 
  }
}
