/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --main-color:#263B4A;
  --2main-color:#ffffff;
  --3main-color:#F93100;
  --4main-color:#7C838A;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 20px;
}

.wrapper {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size:1em;
}

.table tr td{
  font-size:1em;
}

.table h3 {
    margin-bottom: 10px;
}

.table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.table td, .table th {
    border: 1px solid #fff;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.custom-btn {
    background-color: #a0a5aa; 
    color: #fff; 
    padding: 2px 5px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    text-decoration: none;
}

/* Style pour les boutons lorsqu'ils sont survolés */
.custom-btn:hover {
    background-color: var(--3main-color); /* Changement de couleur de fond plus foncée lors du survol */
}

/* Style pour les boutons lorsqu'ils sont cliqués */
.custom-btn:active {
    background-color: var(--main-color); /* Changement de couleur de fond plus foncée lors du clic */
}


.wrapper1{
  width: 715px;
  margin-left: 20%;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 20px;
}
.wrapper1 header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper1 form{
  margin: 35px 30px;
}
.wrapper1 form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper1 form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid var(--3main-color);
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: var(--3main-color);
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer le bouton horizontalement */

}

.button-area .button {
  margin-right: 10px;
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 20px;
  background-color: #a0a5aa; 
  transition: background 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-area .button:hover {
  background: var(--3main-color);
}

@media (max-width: 600px){
  .wrapper1 header{
    text-align: center;
  }
  .wrapper1 form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}

.ticket-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 20px;
}

.ticket-exchange-details{
  width:100%;
  display:flex;
  flex-direction:row;
}

.ticket-asking,
.ticket-answer {
  flex: 1;
  flex-basis: 50%; 
}

.ticket-asking > div,
.ticket-answer > div {
  display: flex;
  flex-direction: column; /* Display child divs in columns */
}

.ticket-section-title{
  font-weight: bold;
}

.ticket-asking-text {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
}

.ticket-asking{
  padding-right:20px;
}

.ticket-answer{
  padding-left:20px;
}

.ticket-asking-text-description {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  height: auto;
  flex:1;
}

.assistance-button-centre {
  display:flex;
  width:100%;
  justify-content: center;
}


/* Centrer le <select> */
.etat {
  display: flex;
  justify-content: center;
  align-items: center;
}

#etat-ticket option .option {
  color: rgb(122, 41, 41); /* Couleur de texte des options */
  background-color: white; /* Couleur de fond des options */
}

/* Couleur du texte des options au survol */
#etat-ticket.hover-option .option:hover {
  color: white; /* Couleur du texte au survol */
  background-color: #3fd14b; /* Couleur de fond au survol */
}

/* Optionnel: Style pour le <select> */
#etat-ticket {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

css
Copier le code
.ticket-answer {
  /* Optional: Style for the overall answer section */
  padding: 10px;
}

.ticket-answers-container {
  max-height: 365px; /* Adjust this value to your desired height */
  overflow-y: auto;
}

.ticket-answer-text {
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.ticket-answer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.ticket-answer-author {
  font-weight: bold;
}

.ticket-answer-date {
  font-size: 0.9em;
  color: #888;
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.ticket-answer-content {
  white-space: pre-wrap; 
}

.chat-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.chat-btn i {
  font-size: 1em;
  color: #333; 
}

.chat-btn:hover i, .chat-btn:focus i {
  color: #f00; 
}

.chat-btn {
  padding: 5px; 
}
