.update-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size:1.5em;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width:100%;
}

.inputs-container {
    display:flex;
    flex-direction: column;
    padding-left:20%;
    padding-right:20%;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
}

form .field input,
form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.field input::placeholder,
.message textarea::placeholder {
    color: #ccc;
}

.field input:focus,
.message textarea:focus {
    padding-left: 47px;
    border: 2px solid var(--3main-color);
}

.field input:focus~i,
.message textarea:focus~i {
    color: var(--3main-color);
}

form .message {
    position: relative;
}

form .message i {
    top: 30px;
    font-size: 20px;
}

form .message textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
    width: 0px;
}

.message textarea:focus {
    padding-top: 14px;
}

form .button-area {
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centrer le bouton horizontalement */

}


input {
    padding: 5px;
    font-size: 1.5em;
}