main{

	background-color:#153C4A;
	padding: 20px;
	margin-top: 2%;
	margin-left: 200px;
	margin-right: 200px;
	
}

.imagestruct{
	margin-top: 1%;
	margin-left:45% ;
	height: 120px;
	
}
.imagestructs{
	margin-top: 1%;
	margin-left:45%;
	height: 60px;
	
}

body{
	background-color:#153C4A;
}




#toast-container > .customer-success {   
	margin:auto;         
background-color: green;
}

#toast-container > .customer-error {  
	
	margin:auto;         
background-color: red;
}

#toast-container > .customer-authentification {    
	margin:auto;
background-color: blue;
}

.sendBtn {
    color: white;
    background: #FA4519;
    margin-top: 25px;
    margin-left:  46.5%;
}



  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .buttons-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .buttons-vertical button {
    margin: 5px;
    width: 150px;
    padding: 10px;
    font-size: 16px;
  }


 #pdfViewer {
 margin-top: 25px;

      width: 100%;
      height: 600px; /* Height of the container */
      overflow-y: scroll; /* Enable vertical scrolling */
      border: 1px solid #ccc;
    }
    #pdfViewer canvas {
      display: block;
      margin: 10px auto;
    }


  #signaturepad {
            border: 1px solid #000;
            width: 350px;
            height: 250px;
        }

.button-container {
    display: flex;
    justify-content: space-between; /* Pour espacer les boutons de manière égale */
    margin-top: 20px;
 }
.sendBtn1 {
    color: white;
    background: #FA4519;
}


@media screen and (max-width:742px){

	.imagestruct{
		margin-top: 0px;
		margin-left: 30%;
		height: 150px;
		width: 150px;
	}
.imagestructs{
	margin-top: 1%;
	margin-left:38%;
	height: 60px;
	
}

	

	main{
	width: 100%;
        margin-top: 0px;
	background-color:#153C4A;
	margin-left: 1px;
	margin-right: 10px;
	
  }

body{
	background-color:#153C4A;
        overflow: hidden;

}





.form-group {
    margin-bottom: 15px;
	width: 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.col-md-3 {
    width: 100%; /* 3 colonnes sur 12 (25%) */
    float: left;
}

.col-md-4 {
    width: 100%;/* 4 colonnes sur 12 (33.33%) */
    float: left;
}

.col-md-6 {
	width: 100%;/* 6 colonnes sur 12 (50%) */
    float: left;
}



/* Styles pour l'étiquette principale en haut */



.sendBtn {
    background: #FA4519;
    margin-top: 25px;
    margin-left: 38%;
}

 #signaturepad {
            border: 1px solid #000;
            width: 250px;
            height: 250px;
            overflow: hidden;
        }




}